<h2><%= @home %> – <%= tu :your_new_home %></h2>

<%= form_for @member,
             url: create_member_path(@member, home_id: params['home_id']) do |f| %>
    <div class="table">
        <div class="row">
            <div class="label">
                <%= f.label :username %>
            </div>
            <div class="input">
                <%= f.text_field :username %>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <%= f.label :password %>
            </div>
            <div class="input">
                <%= f.password_field :password %>
            </div>
        </div>
        <div class="row">
            <div class="input">
                <%= f.check_box :terms_of_service %>
            </div>
            <div class="label">
                <%= f.label :terms_of_service %>
            </div>
        </div>
    </div>
    <div class="submit">
        <%= f.submit t :create_account %>
    </div>
<% end %>

<%= render "terms" %>
